.content.title-bar {
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  left: 0;
  right: 0;

  background-color: #fff;
}

.content.tab-bar {
  bottom: 50px;
}

.inner-content {
  padding: 10px;
}